.scrollBar {
    overflow-y: scroll;
}

mat-card {
    width: 90%;
    height: 100%;
    float: left;
}

mat-grid-list {
    position: relative;
    top: 20px;
}

.playerDetail {
    width: 100%;
    background: transparent;
    border: 0px;
}

mat-list-item {
    cursor: pointer;
}

.photo {
    display: inline-block;
}

.position {
    position: relative;
    top: 50px;
    left: 30px;
}
