<div class="background">
        <div class="homepageContent">
            <app-header-menu></app-header-menu>
    
            <table class="tableMatchList">
                <tr>
                    <td class="table-matchList">
                        <h3>Zoznam zápasov</h3>
                        <mat-card class="matchList">
                            <mat-list role="list" *ngFor="let zapas of zapasy; index as i">
                                <mat-list-item role="listitem" (click)="setActZapas(i)">{{zapas.nazov}}</mat-list-item>               
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-card>
                    </td>
                    <td>
                        <h3>{{actZapas.nazov}}</h3>
                        <mat-list>
                            <mat-list-item>
                                <b>Turnaj:&emsp;</b> {{actTurnaj.nazov}}
                            </mat-list-item>
                            <mat-list-item>
                                <b>Miesto:&emsp;</b> {{actZapas.miesto}}
                            </mat-list-item>
                            <mat-list-item>
                                <b>Dátum:&emsp;</b>{{actZapas.datum | date: 'dd. MM. yyyy'}}
                            </mat-list-item>
                            <mat-list-item>
                                <b>Stav:&emsp;</b> {{actZapas.stav}}
                            </mat-list-item>
                        </mat-list>
                        
                        <div *ngIf="btnIsPlan">
                            <button mat-raised-button class="button" (click)="startMatch()">Zahájiť zápas</button>
                        </div>
                        <div *ngIf="btnIsPlaying">
                            <button mat-raised-button class="button" (click)="endMatch()">Ukončiť zápas</button>
                        </div>
                        <br>
                        <br>
                        
                        
                        <div *ngIf="isEnded">
                            <h5>Výsledok zápasu</h5>
                            {{meno1}} <b>{{stavZapasu1.ziskane_sety}} : {{stavZapasu2.ziskane_sety}}</b> {{meno2}} 
                        </div>
                    </td>
                    <td class="table-matchList">
                            <div *ngIf="isStarted">
                                    <h5>Stav zápasu</h5>
                                    <form class="form">
                                        <table class="tableForm">
                                            <tr>
                                                <th>{{meno1}}</th>
                                                <th>{{meno2}}</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Sety" id="sety1" [(ngModel)]="stavZapasu1.ziskane_sety" name="sety1"/>
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Gemy" id="gemy1" [(ngModel)]="stavZapasu1.ziskane_gemy" name="gemy1"/>
                                                    </mat-form-field>
                                
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Výmeny" id="vymeny1" [(ngModel)]="stavZapasu1.ziskane_vymeny" name="vymeny1"/>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Sety" id="sety2" [(ngModel)]="stavZapasu2.ziskane_sety" name="sety2"/>
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Gemy" id="gemy2" [(ngModel)]="stavZapasu2.ziskane_gemy" name="gemy2"/>
                                                    </mat-form-field>
                                
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Výmeny" id="vymeny2" [(ngModel)]="stavZapasu2.ziskane_vymeny" name="vymeny2"/>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                    </form> 
                                    <button mat-raised-button class="button" (click)="actMatch()">Aktualizuj stav</button>
                                </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    