.form {
    display: flex;
    flex-direction: column;
  }
  
  .form > * {
    width: 20%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

.matchList {
    overflow-y: scroll;
    height: 600px;
    width: 350px;
}

mat-list-item {
    cursor: pointer;
}

.userDetail {
    width: 100%;
    background: transparent;
    border: 0px;
}

button {
    margin-top: 2rem; 
    margin-right: 2rem;
    background-color: #00c3ff; 
}

.tableMatchList {
    width: 100%;
}



.tableMatchList tr {
    height: 600px;
}

.table-matchList {
    width: 400px;
}

.tableForm {
    width: 100%;
}

.tableForm td th{
    width: 100%;
}

.tableForm tr{
    height: 20px;
}
