<div class="background">
  <mat-card class="login-screen">

    <mat-card-title class="login-screen-title">
      Prihlásenie
    </mat-card-title>

    <form class="form" (submit)="onSignIn()">

        <mat-form-field>
            <label for="username"></label><input matInput type="text" placeholder="Prihlasovacie meno (login)" [formControl]="nameControl"
                                                 required id="username" [(ngModel)]="username" name="username"/>
            <mat-error *ngIf="nameControl.hasError('invalid')">Login môže byť zlý!</mat-error>
        </mat-form-field>


        <mat-form-field >
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password"/>
          <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-button >Prihlásenie</button>
        <button mat-button routerLink="/register" >Nemáte účet? Zaregistrujte sa!</button>

    </form>
  </mat-card>
</div>
