<div class="background">
  <mat-card class="login-screen">
    <mat-card-title class="login-screen-title">
      Sign in
    </mat-card-title>

    <form class="form">
<!---->
<!--      Meno-->
<!--      <label for="meno"></label><input type="text" placeholder="meno" id="meno" [(ngModel)]="currentUzivatel.meno" name="meno"/>-->
<!--      <br>-->

<!--      <button  (click)="getUzivatel()">Show user with id 5</button>-->



      <mat-form-field>
        <label for="username"></label><input matInput type="text" placeholder="Username" [formControl]="nameControl"
                                             required id="username" [(ngModel)]="username" name="username"/>
        <mat-error *ngIf="nameControl.hasError('invalid')">Login môže byť zlý!</mat-error>
      </mat-form-field>

      <mat-form-field>
          <label>
              <input matInput placeholder="Enter your password"  [formControl]="nameControl"
                     required [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" />
              <mat-error *ngIf="nameControl.hasError('invalid')">Heslo môže byť zlé!</mat-error>
          </label>

          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          </button>
      </mat-form-field>



      <button mat-button (click)="onSignIn()">Sign in</button>
      <button mat-button (click)="onRegister()" >Register</button>

    </form>
  </mat-card>

</div>
