.tabulkaTim {
  width: calc(100% - 10px);
  height: 50%;
  background-color: #71e2ff;
  border-radius: 10px;
  border: 2px solid #0077ff;
  margin: 5px;
  border-collapse: separate;
  box-shadow: 0 0 5px #000
}

.tabulkaTim td {
  width: 33%;
}

.mainTeamStats {
  height: 150px;
  text-align: center;
}

.players {
  height: 150px;
}

.playerCard {
  width: 190px;
  margin: 20px 10px 20px 5px;
}
.playerCard tr {
  height: auto;
}

.hracPortretPlaceholder {
  height: 25px;
  width: 25px;
}

.playerPlaceholder {
  height: 130px;
  width: 100px;
  margin: 20px 20px 20px 20px;
}
