<div class="background">
  <div class="teamDetailContent">
    <app-header-menu></app-header-menu>

    <table class="tabulkaTim">
      <tr><th colspan="3">
        <div style="text-align: center; margin-top: 20px; width: 100%"><h2>{{tim.nazov}}</h2></div>
      </th></tr>
      <tr>
        <td class="mainTeamStats">
          <img alt="logoPlaceholder" src="{{tim.logo}}" style="height: 150px; width: 150px">
        </td>
        <td class="mainTeamStats">
          <h5>Vyhraných zápasov</h5>
          <h3>{{tim.pocet_vyhier}}/{{tim.odohrane_zapasy}}</h3>
        </td>
        <td class="mainTeamStats">
          <h5>Počet hráčov:</h5>
          <h3>{{tim.pocet_hracov}}</h3>
        </td>
      </tr>
      <tr class="players">
        <td>
          <div id="player1">
            <div style="float: left">
              <img class="playerPlaceholder" alt="playerPlaceholder" src="{{hrac1.fotka}}">
            </div>
            <div style="float: right">
              <table class="playerCard">
                <th style="text-align: center" colspan="2"><h5>{{uzivatel1.meno}} {{uzivatel1.priezvisko}}</h5></th>
                <tr>
                  <td>
                    Vek:
                  </td>
                  <td>
                    {{uzivatel1.vek}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Vyhrané zápasy
                  </td>
                  <td>
                    {{hrac1.pocet_vyhier}}/{{hrac1.odohrane_zapasy}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div id="player2">
            <div style="float: left">
              <img class="playerPlaceholder" alt="playerPlaceholder" src="{{hrac2.fotka}}">
            </div>
            <div style="float: right">
              <table class="playerCard">
                <th style="text-align: center" colspan="2"><h5>{{uzivatel2.meno}} {{uzivatel2.priezvisko}}</h5></th>
                <tr>
                  <td>
                    Vek:
                  </td>
                  <td>
                    {{uzivatel2.vek}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Vyhrané zápasy
                  </td>
                  <td>
                    {{hrac2.pocet_vyhier}}/{{hrac2.odohrane_zapasy}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div id="player3">
            <div style="float: left">
              <img class="playerPlaceholder" alt="playerPlaceholder" src="{{hrac3.fotka}}">
            </div>
            <div style="float: right">
              <table class="playerCard">
                <th style="text-align: center" colspan="2"><h5>{{uzivatel3.meno}} {{uzivatel3.priezvisko}}</h5></th>
                <tr>
                  <td>
                    Vek:
                  </td>
                  <td>
                    {{uzivatel3.vek}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Vyhrané zápasy
                  </td>
                  <td>
                    {{hrac3.pocet_vyhier}}/{{hrac3.odohrane_zapasy}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr> <!--Hraci 1. riadok-->
      <tr class="players">
        <td>
        <td>
          <div id="player4">
            <div style="float: left">
              <img class="playerPlaceholder" alt="playerPlaceholder" src="{{hrac4.fotka}}">
            </div>
            <div style="float: right">
              <table class="playerCard">
                <th style="text-align: center" colspan="2"><h5>{{uzivatel4.meno}} {{uzivatel4.priezvisko}}</h5></th>
                <tr>
                  <td>
                    Vek:
                  </td>
                  <td>
                    {{uzivatel4.vek}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Vyhrané zápasy
                  </td>
                  <td>
                    {{hrac4.pocet_vyhier}}/{{hrac4.odohrane_zapasy}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div id="player5">
            <div style="float: left">
              <img class="playerPlaceholder" alt="playerPlaceholder" src="{{hrac5.fotka}}">
            </div>
            <div style="float: right">
              <table class="playerCard">
                <th style="text-align: center" colspan="2"><h5>{{uzivatel5.meno}} {{uzivatel5.priezvisko}}</h5></th>
                <tr>
                  <td>
                    Vek:
                  </td>
                  <td>
                    {{uzivatel5.vek}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Vyhrané zápasy
                  </td>
                  <td>
                    {{hrac5.pocet_vyhier}}/{{hrac5.odohrane_zapasy}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div id="player6">
            <div style="float: left">
              <img class="playerPlaceholder" alt="playerPlaceholder" src="{{hrac6.fotka}}">
            </div>
            <div style="float: right">
              <table class="playerCard">
                <th style="text-align: center" colspan="2"><h5>{{uzivatel6.meno}} {{uzivatel6.priezvisko}}</h5></th>
                <tr>
                  <td>
                    Vek:
                  </td>
                  <td>
                    {{uzivatel6.vek}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Vyhrané zápasy
                  </td>
                  <td>
                    {{hrac6.pocet_vyhier}}/{{hrac6.odohrane_zapasy}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr> <!--Hraci 2. riadok-->
    </table>
  </div>
</div>
