<div class="background">
  <div class="homepageContent">
    <app-header-menu></app-header-menu>



    <div class="scrollBar">

<!--Prva tabulka-->
        <dx-data-grid
          id="gridContainer01"
          [dataSource]="turnaje"
          [allowColumnReordering]="true"
          [showBorders]="true"
          (onRowInserted)="createNewTurnaj($event)">


          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing
                mode="row"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true">
          </dxo-editing>

          <dxi-column dataField="nazov" caption="Nazov"></dxi-column>
          <dxi-column dataField="zaciatok" caption="Zaciatok"></dxi-column>
          <dxi-column dataField="koniec" caption="Koniec"></dxi-column>
          <dxi-column dataField="vyhra" caption="Vyhra"></dxi-column>
          <dxi-column dataField="sponzori" caption="Sponzori"></dxi-column>
          <dxi-column dataField="povrch" caption="Povrch"></dxi-column>
          <dxi-column dataField="podmienky_turnajaID" caption="Podmienky Turnaja ID"></dxi-column>
          <dxi-column dataField="usporiadatelID" caption="UsporiadatelID"></dxi-column>

        </dx-data-grid>


        <br>
        <br>

<!--Druha tabulka-->
        <dx-data-grid
          id="gridContainer02"
          [dataSource]="turnajeReadOnly"
          [allowColumnReordering]="true"
          [showBorders]="true"
          (onRowInserted)="createNewTurnaj($event)">


          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing
            mode="row"
            [allowUpdating]="false"
            [allowDeleting]="false"
            [allowAdding]="false">
          </dxo-editing>

          <dxi-column dataField="nazov" caption="Nazov"></dxi-column>
          <dxi-column dataField="zaciatok" caption="Zaciatok"></dxi-column>
          <dxi-column dataField="koniec" caption="Koniec"></dxi-column>
          <dxi-column dataField="vyhra" caption="Vyhra"></dxi-column>
          <dxi-column dataField="sponzori" caption="Sponzori"></dxi-column>
          <dxi-column dataField="povrch" caption="Povrch"></dxi-column>
          <dxi-column dataField="podmienky_turnajaID" caption="Podmienky Turnaja ID"></dxi-column>
          <dxi-column dataField="usporiadatelID" caption="UsporiadatelID"></dxi-column>

        </dx-data-grid>
    <div>



  </div>
</div>
