<div class="background">
  <div class="homepageContent">
    <app-header-menu></app-header-menu>



    <div class="scrollBar">



<!-- warning   -->
      <div class="row"  *ngIf="ErrorMsg_Nazov">
        <div class="col-xs-12">
          <p class="alert alert-danger">
            <strong>Zaznam nemoze byt ulozeny!</strong> Ziadny nazov!

          </p>
        </div>
      </div>

      <div class="row"  *ngIf="ErrorMsg_Zaciatok">
        <div class="col-xs-12">
          <p class="alert alert-danger">
            <strong>Zaznam nemoze byt ulozeny!</strong> Nemozno overit validitu datumu, podporovamy datum je v tvare YYYY-MM-DD.

          </p>
        </div>
      </div>

      <div class="row"  *ngIf="ErrorMsg_Koniec">
        <div class="col-xs-12">
          <p class="alert alert-danger">
            <strong>Zaznam nemoze byt ulozeny!</strong> Nemozno overit validitu datumu, podporovamy datum je v tvare YYYY-MM-DD.

          </p>
        </div>
      </div>

      <div class="row"  *ngIf="ErrorMsg_KoniecSkorAkoZaciatok">
        <div class="col-xs-12">
          <p class="alert alert-danger">
            <strong>Zaznam nemoze byt ulozeny!</strong> Datum ukoncenia je skorsi nez datum zacatia!

          </p>
        </div>
      </div>

      <div class="row"  *ngIf="ErrorMsg_Vyhra">
        <div class="col-xs-12">
          <p class="alert alert-danger">
            <strong>Zaznam nemoze byt ulozeny!</strong> Nie je priradená žiadna výhra!

          </p>
        </div>
      </div>


<!--Prva tabulka-->
        <dx-data-grid
          #grid
          id="gridContainer01"
          [dataSource]="turnaje"
          [allowColumnReordering]="true"
          [showBorders]="true"
          (onRowInserted)="createNewTurnaj($event)"
          (onRowUpdated)="updateTurnaj($event)"
          (onRowRemoved)="deleteTurnaj($event)"
          (onRowClick)="rowClick($event)"
        >

          <dxo-paging [pageSize]="5"></dxo-paging>


          <dxo-selection
            mode="single">
          </dxo-selection>

          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing
                mode="row"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true"
          >
          </dxo-editing>

          <dxi-column dataField="nazov" caption="Nazov"></dxi-column>
          <dxi-column [editorOptions]="{ placeholder: 'YYYY-MM-DD' }" dataField="zaciatok" caption="Zaciatok"></dxi-column>
          <dxi-column [editorOptions]="{ placeholder: 'YYYY-MM-DD' }" dataField="koniec" caption="Koniec"></dxi-column>
          <dxi-column [editorOptions]="{ placeholder: 'Suma v €' }" dataField="vyhra" caption="Vyhra"></dxi-column>
          <dxi-column [editorOptions]="{ placeholder: 'Sponzor' }" dataField="sponzori" caption="Sponzori"></dxi-column>
          <dxi-column [editorOptions]="{ placeholder: 'Povrch' }" dataField="povrch" caption="Povrch"></dxi-column>
<!--          <dxi-column dataField="podmienky_turnajaID" caption="Podmienky Turnaja ID"></dxi-column>-->
<!--          <dxi-column dataField="usporiadatelID" caption="UsporiadatelID"></dxi-column>-->

        </dx-data-grid>



      <div id="PodmienkyTurnaja" *ngIf="grid.selectedRowKeys.length">
<!--        <p class="employeeNotes">{{grid.instance.getSelectedRowsData()[0].Koniec}}</p>-->


          <div class="example-container">
            <mat-card class="login-screen">


              <mat-card-title class="login-screen-title">
                Podmienky turnaja
              </mat-card-title>

                <div>
                    <label>Druh hry: </label>
                      <mat-radio-group>
                          <mat-radio-button class="Medzera" [checked]="hraKlasicka" (change)="onKlasickaChange()">Klasická</mat-radio-button>
                          <mat-radio-button class="Medzera" [checked]="hraZmiesana" (change)="onZmiesanaChange()">Zmiešaná</mat-radio-button>
                      </mat-radio-group>
                </div>

              <div>
                <label>Stav: </label>
                <mat-radio-group>
                  <mat-radio-button class="Medzera" [checked]="hraPlanovana" (change)="onPlanovanaChange()" >Planovany</mat-radio-button>
                  <mat-radio-button class="Medzera" [checked]="hraPrebieha" (change)="onPrebiehaChange()" >Prebieha</mat-radio-button>
                  <mat-radio-button class="Medzera" [checked]="hraUkoncena" (change)="onUkoncenaChange()" >Ukonceny</mat-radio-button>
                </mat-radio-group>
              </div>

                <div>
                    <mat-form-field>
                        <input type="string"  matInput id="regPoplatok" [(ngModel)]="regPoplatok" name="regPoplatok" placeholder="Registracny poplatok v €">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="number"  matInput id="pocetTymov" [(ngModel)]="pocetTymov" name="pocetTymov" placeholder="Počet týmov">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input type="number"  matInput id="pocetHracVTyme" [(ngModel)]="pocetHracVTyme" name="pocetHracVTyme"placeholder="Počet hráčov v týme">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="number"  matInput id="minVek" [(ngModel)]="minVek" name="minVek" placeholder="Minimálny vek">
                    </mat-form-field>
                </div>

              <button mat-button (click)="UlozitPodmienkyTurnaja()">Uložiť!</button>

            </mat-card>
          </div>


      </div>



        <br>
        <br>



<!--Druha tabulka-->
        <dx-data-grid
          id="gridContainer02"
          [dataSource]="turnajeReadOnly"
          [allowColumnReordering]="true"
          [showBorders]="true"
        >

          <dxo-paging [pageSize]="5"></dxo-paging>


          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing
            mode="row"
            [allowUpdating]="false"
            [allowDeleting]="false"
            [allowAdding]="false">
          </dxo-editing>

          <dxi-column dataField="nazov" caption="Nazov"></dxi-column>
          <dxi-column dataField="stav_turnaja" caption="Stav turnaja"></dxi-column>
          <dxi-column dataField="zaciatok" caption="Zaciatok"></dxi-column>
          <dxi-column dataField="koniec" caption="Koniec"></dxi-column>
          <dxi-column dataField="vyhra" caption="Vyhra"></dxi-column>
          <dxi-column dataField="sponzori" caption="Sponzori"></dxi-column>
          <dxi-column dataField="povrch" caption="Povrch"></dxi-column>
<!--          <dxi-column dataField="podmienky_turnajaID" caption="Podmienky Turnaja ID"></dxi-column>-->
<!--          <dxi-column dataField="usporiadatelID" caption="UsporiadatelID"></dxi-column>-->

        </dx-data-grid>
    </div>



  </div>
</div>
