.scrollBar {
  overflow-y: scroll;
  height: 650px;
}


::ng-deep #events {
  background-color: rgba(191, 191, 191, 0.15);
  padding: 20px;
  margin-top: 20px;
}

::ng-deep #events > div {
  padding-bottom: 5px;
}

::ng-deep #events > div:after {
  content: "";
  display: table;
  clear: both;
}

::ng-deep #events #clear {
  float: right;
}

::ng-deep #events .caption {
  float: left;
  font-weight: bold;
  font-size: 115%;
  line-height: 115%;
  padding-top: 7px;
}

::ng-deep #events ul {
  list-style: none;
  max-height: 100px;
  overflow: auto;
  margin: 0;
}

::ng-deep #events ul li {
  padding: 7px 0;
  border-bottom: 1px solid #dddddd;
}

::ng-deep #events ul li:last-child {
  border-bottom: none;
}



/*Podmienky turnaja*/
.example-container {
  position: center;
  width:100%;
  height:100%;
  opacity: 1;
  background-color:rgb(0,225,240)
}

.example-container > * {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;

}

.form > * {
  width: 100%;
}

.login-screen {
  max-width: 100%;
  top: 15%;
  background-color: #00c3ff;
}


.login-screen-title {
  text-align: center;
}

.Medzera{
  margin: 15px;
}

