<div> 
    <mat-card>
        <mat-card-title>
            {{actUzivatel.meno}} {{actUzivatel.priezvisko}}
        </mat-card-title>
        <mat-card-content>
            <mat-list >
                <mat-list-item>
                    <b>Meno:&emsp;</b> {{actUzivatel.meno}}
                </mat-list-item>
                <mat-list-item>
                    <b>Priezvisko:&emsp;</b>{{actUzivatel.priezvisko}}
                </mat-list-item>
                <mat-list-item>
                    <b>Vek:&emsp;</b> {{actUzivatel.vek}}
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <br>
        
        <mat-card-subtitle>
            Člen tímov
        </mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list *ngFor='let tim of timy'>
                <mat-list-item>{{tim.Nazov}}</mat-list-item>
            </mat-list>
        </mat-card-content>
        <br>

        <mat-card-subtitle>
            Štatistika
        </mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <b>Odohrane zapasy:&emsp;</b> {{actHrac.odohrane_zapasy}}
                </mat-list-item>
                <mat-list-item>
                    <b>Vyhry:&emsp;</b> {{actHrac.pocet_vyhier}}
                </mat-list-item>
            </mat-list>
        </mat-card-content>

    </mat-card>
</div>
