.headerMenu {
    height: 51px;
    width: auto;
    margin: 30px 5px 30px 5px;
    border: 2px solid #0077ff;
    border-radius: 10px;
    background-color: #00c3ff;
    box-shadow: 0 0 5px #000;
}

.headerMenu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 45px;
    text-decoration: none;
    font-size: 18px;
  }

  .headerMenu a.leftBar {
    float: right;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding: 10px 30px !important;
  }

  /* Right-aligned login button with corner rounding */
  .headerMenu a.loginButton {
    float: right;
    border-radius: 0 5px 5px 0 !important;
    padding: 10px 35px !important;
  }


  /* Change color on hover */
  .headerMenu a:hover {
    background-color: #0077ff;
    color: black;
  }

  /* Corner rounding of first child */
  .headerMenu a:first-child, a.active:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  /* Active/current link */
  .headerMenu a.active {
    background-color: #0077ff;
    color: white;
  }
