.tabulkaZapasy {
  width: 100%;
  height: auto;
}

table.tabulkaZapasy td {
  border: 1px solid transparent;
  width: 280px;
}

table.tabulkaZapasy td:last-child {
  border-right-width: 0;
}

.tabulkaTimy {
  width: calc(100% - 10px);
  height: auto;
  border: 1px solid #71e2ff;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  background-color: #71e2ff;
  box-shadow: 0 0 5px #000
}

.tabulkaTimyZoznam td {
  border: 0 !important;
  width: 33.33%;
  font-size: 19px;
}

.tabulkaTimyZoznam td:nth-child(odd) {
  width: 66.66% !important;
  text-align: left;
}

.teamFlagPlaceholder {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.zapas {
  height: 100%;
  width: calc(100% - 10px);
  border: 1px solid #00c3ff;
  border-radius: 5px;
  text-align: center;
  margin: 0 4px 10px 4px;
  background-color: #00c3ff;
  box-shadow: 0 0 5px #000
}

.zapasDatum {
  font-size: 20px;
  margin-top: 8%;
}

.zapasVysledok {
  font-size: 40px;
  margin-top: 5%;
}
.zapasTimy {
  /*font-size: 25px;*/
  font-size: 110%;
  margin-top: 5%;
}

.zapasMiesto {
  font-size: 20px;
  margin-top: 1%;
}

.zapasCas {
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 5%;
}

.flagPlaceholder {
  height: 60px;
  width: 60px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -10px;
}
