<div class="background" style="background-color: #e7e7e7">
  <div class="homepageContent">
    <app-header-menu></app-header-menu>
      <table class="tableMatchList">
          <tr>
              <td class="table-matchList">
                  <h3>Zoznam turnajov</h3>
                  <mat-card class="matchList">
                      <mat-list role="list" *ngFor="let turnaj of turnaje; index as i">
                          <mat-list-item role="listitem" (click)="setActTurnaj(i)">{{turnaj.nazov}}</mat-list-item>               
                          <mat-divider></mat-divider>
                      </mat-list>
                  </mat-card>
              </td>
              <td>

      <div *ngIf="!spiderEn">
          <h3>Prebieha prihlasovanie na turnaj</h3>
          <h4>(záväzné, nedá sa odhlásiť)</h4>
          <table>
            <td>
              <h4>Hraci</h4>
              <dx-data-grid 
                  id="gridContainer"
                  [dataSource]="registeredUsers"
                  [allowColumnReordering]="true"
                  [showBorders]="true">

                  <dxo-paging [pageSize]="10"></dxo-paging>

                  <dxi-column dataField="meno" caption="Meno"></dxi-column>
               </dx-data-grid>

               <button mat-button class="button" (click)="addPlayer()" [hidden]="alreadyPlaying">Chcem sa zúčastniť</button>
               <select  [(ngModel)]="selectedTim" [hidden]="alreadyPlaying">
                  <option value="none">None</option>
                  <option *ngFor="let tim of playerTeams" value="{{tim.id}}">{{tim.nazov}}</option>
               </select>
            </td>
            <td>
              <h4>Rozhodcovia</h4>
              <dx-data-grid 
                  id="gridContainer"
                  [dataSource]="registeredRef"
                  [allowColumnReordering]="true"
                  [showBorders]="true">

                  <dxo-paging [pageSize]="10"></dxo-paging>

                  <dxi-column dataField="meno" caption="Meno"></dxi-column>
                  <dxi-column dataField="typ" caption="Typ"></dxi-column>
              </dx-data-grid>

              <button mat-button class="button" (click)="addReferee()" [hidden]="alreadyRef">Chcem rozhodovať</button>
              <select [(ngModel)]="selectedType" [hidden]="alreadyRef">
                <option value="hlavný">Hlavný</option>
                <option value="čiarový">Čiarový</option>
                <option value="vrchný">Vrchný</option>
              </select>
            </td>
        </table>
      </div>

      <div *ngIf="spiderEn">
        <table>
            <div class="round r-of-3">
              <div class="bracket-game">
                <div class="player top win">
                  {{boxyUroven1[4]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[4]?.score}}
                  </div>
                </div>
                <div class="player bot win">
                  {{boxyUroven1[5]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[5]?.score}}
                  </div>
                </div>
              </div>
              <div class="bracket-game cont2">
                <div class="player top win">
                  {{boxyUroven1[6]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[6]?.score}}
                  </div>
                </div>
                <div class="player bot win">
                  {{boxyUroven1[7]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[7]?.score}}
                  </div>
                </div>
              </div>
            </div>

            <div class="round r-of-4">
              <div class="bracket-game">
                <div class="player top win">
                  {{boxyUroven1[0]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[0]?.score}}
                  </div>
                </div>
                <div class="player bot win">
                  {{boxyUroven1[1]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[1]?.score}}
                  </div>
                </div>
              </div>
              <div class="bracket-game cont">
                <div class="player top win">
                  {{boxyUroven1[2]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[2]?.score}}
                  </div>
                </div>
                <div class="player bot win">
                  {{boxyUroven1[3]?.nazov}}
                  <div class="score">
                  {{boxyUroven1[3]?.score}}
                  </div>
                </div>
              </div>
            </div>



            <div class="connectors r-of-1">
              <div class="top-line"></div>
              <div class="clear"></div>
              <div class="bottom-line"></div>
              <div class="clear"></div>
              <div class="vert-line"></div>
              <div class="clear"></div>
              <div class="next-line"></div>
              <div class="clear"></div>
            </div>


            <div class="connectors r-of-2">
              <div class="top-line"></div>
              <div class="clear"></div>
              <div class="bottom-line"></div>
              <div class="clear"></div>
              <div class="vert-line"></div>
              <div class="clear"></div>
              <div class="next-line"></div>
              <div class="clear"></div>
            </div>

          <div class="connectors r-of-3">
            <div class="top-line"></div>
            <div class="clear"></div>
            <div class="bottom-line"></div>
            <div class="clear"></div>
            <div class="vert-line"></div>
            <div class="vert-line"></div>
            <div class="vert-line"></div>
            <div class="clear"></div>
            <div class="next-line"></div>
            <div class="clear"></div>
          </div>



            <div class="round r-of-2">
              <div class="bracket-game">
                <div class="player top win">
                  {{boxyUroven2[0]?.nazov}}

                  <div class="score">
                      {{boxyUroven2[0]?.score}}
                  </div>
                </div>
                <div class="player bot win">
                    {{boxyUroven2[1]?.nazov}}
                  <div class="score">
                      {{boxyUroven2[1]?.score}}
                  </div>
                </div>
              </div>
            </div>

          <div class="round r-of-6">
          <div class="bracket-game">
            <div class="player top win">
                {{boxyUroven2[2]?.nazov}}
              <div class="score">
                  {{boxyUroven2[2]?.score}}
              </div>
            </div>
            <div class="player bot win">
                {{boxyUroven2[3]?.nazov}}
              <div class="score">
                  {{boxyUroven2[3]?.score}}
              </div>
            </div>
          </div>
        </div>


          <div class="round r-of-7">
            <div class="bracket-game">
              <div class="player top win">
                  {{boxyUroven3[0]?.nazov}}
                <div class="score">
                    {{boxyUroven3[0]?.score}}
                </div>
              </div>
              <div class="player bot win">
                  {{boxyUroven3[1]?.nazov}}
                <div class="score">
                    {{boxyUroven3[1]?.score}}
                </div>
              </div>
            </div>
          </div>

        </table>
      </div>
      </td>
