.button {
  margin-top: 2rem;
  background-color: #00c3ff; 
}


.matchList {
  overflow-y: scroll;
  height: 600px;
  width: 350px;
}
.tableMatchList {
  width: 100%;
}





.tableMatchList tr {
  height: 600px;
}

.table-matchList {
  width: 400px;
}


mat-list-item {
  cursor: pointer;
}

.tabula {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 47%;
  top: 20%;
}

.round {
  float: left;
}

.round.r-of-6{
  margin-top: 180px;
  margin-left: -125px;
}

.round.r-of-3{
margin-top: 150px;
margin-right: -130px;
}

.round.r-of-4 {

}

.round.r-of-7 {
  margin-top: 105px;
  margin-left: 150px;
}
.round.r-of-2 {
  margin-top: 25px;
  margin-left: 45px;

}
.bracket-game {
  max-width: 125px;
  margin: 10px 0;
}
.player {
  min-width: 230px;
  border: 1px solid #AAA;
  padding-left: 20px;
}
.player.top {
  border-radius: 3px 3px 0 0;
}
.player.bot {
  border-radius: 0 0 3px 3px;
}
.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #EEE;
}
.player.win {
  background-color: #B8F2B8;
}
.player.loss {
  background-color: #F2B8B8;
}
.connectors.r-of-1 {
  float: left;
  min-width: 30px;
  position: relative;
  top: 5px;
  left: 105px;
}
.connectors.r-of-1 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-1 .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-1 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-1 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}


.connectors.r-of-2 {
  float: left;
  min-width: 30px;
  position: relative;
  top: 160px;
  left: 75px;
}
.connectors.r-of-2 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-2 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}


.connectors.r-of-3 {
  float: left;
  min-width: 30px;
  position: relative;
  top: 25px;
  right: -310px;
}
.connectors.r-of-3 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-3 .bottom-line {
  position: relative;
  top: 193px;
  width: 15px;
  border: 1px solid #AAA;
}
.connectors.r-of-3 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-3 .next-line {
  position: relative;
  top: -55px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}



.clear {
  clear: both;
}
