<div class="background">
  <mat-card class="login-screen">
      <mat-card-title class="login-screen-title">
        Registrácia
      </mat-card-title>

     <form class="form">


       <mat-form-field>
         <label for="username"></label><input matInput type="text" placeholder="Prihlasovacie meno(login)" [formControl]="loginControl"
                                              required id="username" [(ngModel)]="login" name="login"/>
         <mat-error *ngIf="loginControl.hasError('invalid')">Prihlasovacie meno je obsadene!</mat-error>
       </mat-form-field>


       <mat-form-field>
         <label for="Name"></label><input matInput type="text" placeholder="Meno" [formControl]="nameControl"
                                          required id="Name" [(ngModel)]="name" name="name"/>

       </mat-form-field>


       <mat-form-field>
         <label for="Surname"></label><input matInput type="text" placeholder="Priezvisko" [formControl]="surnameControl"
                                          required id="Surname" [(ngModel)]="surname" name="surname"/>

       </mat-form-field>


       <mat-form-field>
         <label for="Email"></label><input matInput type="text" placeholder="Email" [formControl]="emailControl"
                                          required id="Email" [(ngModel)]="email" name="email"/>

       </mat-form-field>


       <mat-form-field>
         <label for="Password"></label><input matInput type="text" placeholder="Heslo" [formControl]="passwordControl"
                                          required id="Password" [(ngModel)]="password" name="password"/>

       </mat-form-field>


       <mat-form-field>
         <label for="RepeatPass"></label><input matInput type="text" placeholder="Zopakujte heslo" [formControl]="repeatPasswordControl"
                                          required id="RepeatPass" [(ngModel)]="repeatPass" name="repeatPass"/>

       </mat-form-field>





          <button mat-button (click)="onCreateAccount()">Vytvoriť účet</button>
          <br>
          <button mat-button (click)="alreadyHaveAccount()" routerLink="/login" >Máte už účet? Prihláste sa</button>


     </form>
  </mat-card>
</div>
